.main{
    background: aquamarine;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;

}
p{
    font-size: 28px;
}

img{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn{
    padding-top: 10px;
}